# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/
data/
asl_alphabet_train/
asl_alphabet_test/

# Trained models
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
